<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FITFOLIO</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to FITFOLIO</h1>
 
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">logout</button>
    {{else}}
    <a href="/login">login</a>
    {{/if}}
  </nav>
   </header>
  <main>
    <aside>
      <h2>Enjoy your workout!</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>

  
  {{#if loggedIn}}
<script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>