<div class="container">

<div class="welcome-user-card">
    <p></p>
    <h2>Welcome back, {{name}}!</h2>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-workout">
        <div class="create-post-card">
            <h3>Get back in the Action!</h3>
            <form>
              <label for="title">Share your workout.</label>
              <input type="text" id="title" name="" placeholder="What did you do today?">
              
              <label for="content">How'd it go?</label>
              <textarea id="content" name="content" placeholder="Workout details.."></textarea>
          
              <button type="submit">Share Post</button>
            </form>
          </div>
      </form>
  </div>
</div>

{{!-- first section that takes each post from database and puts the information in to a card --}}
{{!-- {{#each post}} --}}

{{!-- {{/each}} --}}

<div class="row mt-4">
    <div class="col-md-6">
          <div class="populate-post-card">
              <h4><a href="{{post.post_title}}"></a></h4>
              <h4><a href="{{cleposts.post_body}}"></a></h4>
                <form class="form populate-post">
                <label for="comment">Share your thoughts!</label>
                <textarea id="comment" name="comment" placeholder="Leave a comment.."></textarea>
                <button type="submit">Submit Comment</button>
                </form>
            </div>
        </form>
    </div>
  </div>


  <h4><a href="/feed/{{posts.id}}"></a></h4>

<script src="./js/profile.js"></script>

</div>