<body>
  <nav>
    <a href="/posts">Fitfolio</a>
    {{!-- <a href="/stats">Dashboard</a> --}}
  </nav>
  <div class="wrapper workout">
  
    <div class="ui container workout">
      <div class="ui raised card m-auto">
        <div class="prev-workout">
          <h3>Last Workout</h3>
          <div>
            <div class="workout-stats"></div>
            <div class="buttons">
              <a id="continue-btn" href="/exercise?" class="huge ui blue button">Continue Workout</a>
              <a href="/exercise" class="huge positive ui button">New Workout</a>
            </div>
          </div>
        </div>
        <div class="new-workout">
          <h3>Create Your First Workout</h3>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="toast">
    Workout Added Successfully!
  </div>
  <script src="/js/api.js"></script>
  <script src="/js/workout.js"></script>
  <script src="/js/index.js"></script>
</body>
