.fit-hero {
    background-image: url(../images/Header-background.gif); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    min-width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    animation: fadeIn 4s;
    flex: 1;
    font-family: 'Bebas Neue', cursive;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}    
}
  
  .login-card {
    background-color: rgba(64, 64, 64, 64);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    padding: 15px;
    height: 400px;
    min-width: 385px;
    border-radius: 15px 15px 15px 15px;
    position: relative;   
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    animation: fadeIn 3s;
    text-shadow: 5px 5px 5px rgb(42, 42, 42);
  }

  header h1 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(27, 27, 27);
  }

  aside h2 {
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(27, 27, 27);
  }

  nav {
    margin: 0;
    text-align: center;
    background-color:#2e2e2e;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: #ffffff;
    position: fixed;
    top: 0px;
    width: 98%;
    overflow: hidden;
    z-index: 9;
    height: 38%;
  }

  main {
    margin-top: 30px;
  }
  
  .container {
    flex: 1;
    margin-top: 50px;
  }

  .login-container {
    flex: 1;
    margin-top: 20px;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  body {
    background-color: rgb(183, 153, 106);
  }

/* Feed page below */

.create-post-card {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: rgba(64, 64, 64, 64);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    padding: 15px;
    height: 380px;
    width: 500px;
    margin-bottom: 15px;
    border-radius: 15px 15px 15px 15px;
    position: relative;   
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    animation: fadeIn 3s;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
  }

  .create-post-card label {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .populate-post-card {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: rgba(64, 64, 64, 64);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    padding: 15px;
    height: 380px;
    width: 500px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    position: relative;   
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    animation: fadeIn 3s;
  }

  .populate-post-card label {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .welcome-user-card {
    background-image: url("../images/Welcome-user\ gif.gif");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align:right;
    background-color: rgba(64, 64, 64, 64);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    padding: 15px;
    height: 260px;
    width: 480px;
    margin-bottom: 15px;
    border-radius: 15px 15px 15px 15px;
    position: relative;   
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Bebas Neue' cursive;
    animation: fadeIn 4s;
    }

  .welcome-user-card h2 {
    margin-top: 225px;
    font-family: 'Bebas Neue' cursive;
    font-size: 26px;

  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  input[type="text"],
  textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc0ae;
    border-radius: 5px;
    resize: none;
    flex: 1;
    font-family: 'Bebas Neue', cursive;
  }
  
  button {
    background-color: #f7a655;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #cf3700;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }

body {
  background-color: rgb(183, 153, 106);
}

/* Media queries */

/* Login page below */

@media only screen and (max-width: 768px) {
    .fit-hero {
        background-size: 100%;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        height: 500px;
        background-size: cover;
    }

    /* Adjusts login-card width and height */
    .login-card {
        min-width: 400px;
        min-height: 385px;
        font-size: 35px;
    }

    /* Adjusts font size */
    .login-card, .page-title {
        font-size: 35px;
    }
}

  /* Stacks login cards under fit hero */
  .row {
    flex-direction: column;
    align-items: center;
  }

  /* Adds spacing between login cards */
  .login-card + .login-card {
    margin-top: 20px;
  }

@media only screen and (min-width: 768px) {
    /* Adjusts fit-hero background image size */
    .fit-hero {
        background-size: 100%;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        margin-bottom: 20px;
        height: auto;
        background-size: cover;
        flex: none;
    }

     /* Adjusts login-card width */
     .login-card {
        width: 400px;
        font-size: 35px;
        min-height: 385px;
    }

    /* Adjusts font size */
    .login-card, .page-title {
        font-size: 35px;
    }   

    .login-container {
        flex: none;
    }

    .content-wrapper {
        flex: none;
    }
}

  /* feed page below: */
  
* {
    box-sizing: border-box;
  }
  
  /* Style for larger screen sizes */
  @media (min-width: 768px) {
    .welcome-user-card {
      width: 100%;
      max-width: 3000px;
      margin: 0 auto;
      height: auto;
      background-size: cover;
      font-family: 'Bebas Neue', cursive;
      font-size: 26px;
    }
  
    .create-post-card {
      width: 100%;
      max-width: 3000px;
      margin: 0 auto;
      height: auto;
      padding: 30px;
      margin-left: auto;
      margin-right: auto;
    }
    .populate-post-card {
        width: 100%;
        max-width: 3000px;
        margin: 0 auto;
        height: auto;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
      }
  }

  nav {
    margin: 0;
    text-align: center;
    background-color:#2e2e2e;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: #ffffff;
    position: fixed;
    top: 0px;
    width: 98%;
    overflow: hidden;
    z-index: 9;
    height: 37%;
  }
  
  /* Style for smaller screen sizes */
  @media (max-width: 768px) {
    .welcome-user-card {
      width: 100%;
      max-width: 3000px;
      background-size: cover;
      height: auto;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Bebas Neue', cursive;
      font-size: 26px;
    }

    nav {
      margin: 0;
      text-align: center;
      background-color:#2e2e2e;
      box-shadow: 5px 5px 5px rgb(0, 0, 0);
      color: #ffffff;
      position: fixed;
      top: 0px;
      width: 98%;
      overflow: hidden;
      z-index: 9;
      height: 26%;
    }
  
    .create-post-card {
      width: 100%;
      max-width: 3000px;
      margin: 0;
      height: auto;
      padding: 20px;
      margin-right: auto;
      margin-left: auto;
    }
    .populate-post-card {
        width: 100%;
        max-width: 3000px;
        margin: 0 auto;
        height: auto;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
      }
  }
  
  /* Style for input fields */
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc0ae;
    border-radius: 5px;
    resize: none;
    flex: 1;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }
  
  button {
    background-color: #f7a655;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-family: 'Bebas Neue' cursive;
  }
  
  button:hover {
    background-color: #cf3700; 
  }

  .create-post-card {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    height: auto;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
  }

/* Styles for smaller screen sizes */
@media (max-width: 768px) {
  .welcome-user-card {
    width: 100%;
    max-width: 3000px;
    background-size: cover;
    height: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
  }

  nav {
    margin: 0;
    text-align: center;
    background-color:#2e2e2e;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: #ffffff;
    position: fixed;
    top: 0px;
    width: 98%;
    overflow: hidden;
    z-index: 9;
    height: 26%;
  }

  .create-post-card {
    width: 100%;
    max-width: 3000px;
    margin: 0;
    height: auto;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Styles for input fields */
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc0ae;
  border-radius: 5px;
  resize: none;
  flex: 1;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

button {
  background-color: #f7a655;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  font-family: 'Bebas Neue' cursive;
}

button:hover {
  background-color: #cf3700;

}

nav {
  background-color: #f7a655;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  font-family: 'Bebas Neue' cursive;
  list-style: none;
  position: relative;
  
}

nav a {
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  resize: none;
  flex: 1;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: .3s;
  align-items: center;
  display: flex;
  justify-content: center;
}

nav a:hover {
 background-color: #cf3700;
}

.feed-style {
  margin-top: 25px;
}

