.login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }

  